.header {
  min-height: 8vh;
  @apply flex justify-evenly items-center p-2 bg-slate-900 text-white;
}

.body {
  min-height: 84vh;
  @apply flex flex-col justify-evenly items-center bg-slate-300;
}

.footer {
  height: 8vh;
  @apply flex justify-evenly items-center p-2 bg-slate-900 text-white;
}
