.navbar {
  height: 10vh;
  @apply w-screen fixed z-10 bg-slate-900;
}

.sidenav {
  width: 20vw;
  @apply h-screen fixed z-20 bg-slate-900;
}

.navbar_divider {
  height: 10vh;
  @apply w-full;
}

.sidenav_divider {
  width: 20vw;
  @apply h-screen;
}

.container {
  @apply min-h-screen flex;
}
.content_container {
  width: 80vw;
  @apply min-h-screen  flex flex-col;
}

.content {
  min-height: 90vh;
  @apply w-full;
}
